/* This file is for your main application css. */

/*@import "./user.css";*/
@import "normalize.css";
/*@import "./grain.css";
@import "./home.css";*/
@import "./page.css";
* {
  box-sizing: border-box;
}
body{
  background: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
main{
  opacity: 0.8;
  margin: 130px 20px 0 20px;
  #ali {
    text-align: center;
    a {
      font-size: 25px;
      color: red;
    }
  }
  section {
    margin: 20px 0 0 0;
    p {
      margin: auto;
      width: 600px;
      font-size: 15px;
      small {
        display: block;
        text-align: right;
      }
    }
  }
}
footer {
  p {
    text-align: center;
    font-size: 20px;
    a {
      text-decoration: none;
    }
  }
}
