<!DOCTYPE html> 
<html lang="en">
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?53a5ff1ff8cd253a226e4d9980f8d5e0";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>黄梅县长虹米厂</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
<script type="text/javascript">
   $youziku.load("body", "e45dd28bfe694cef92959676e7309d53", "stfzjjgangbikaishu");
   /*$youziku.load("#id1,.class1,h1", "e45dd28bfe694cef92959676e7309d53", "stfzjjgangbikaishu");*/
   /*．．．*/
   $youziku.draw();
</script>
  </head>
  <body style="<%= get_img() %>">
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    <footer>
      
      <p>copyright <a href="https://www.youmile.vip/index" target="_blank">长虹米厂</a> <%= DateTime.utc_now.year %></p>
    </footer>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="//js.users.51.la/19821413.js"></script>
  </body>
</html>
